<header role='banner'>
    <h1>Blinker</h1>
    <a class="app-link" href='#'>Download the App</button>
</header>


<main class="main" role="main">
  {{>widget widget}}
  {{>ratings ratings}}
  {{>details details}}
</main>


<footer role="contentinfo">
  {{>main_footer}}
</footer>

<script data-main="js/main" src="js/libs/requirejs/require.js"></script>
<script>
  // define settings for require
  define('settings', {
  });
</script>
